@model IEnumerable<Domain.Models.Employee>
@{
    
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
    
}



@{
  
    var employeeData = (IEnumerable<Domain.Models.Employee>)ViewData["EmployeeData"];
    ViewBag.Title = "Index";

    // @ViewData["Data"];
}


<style type="text/css">

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

        .pagination a, .pagination span {
            padding: 8px 12px;
            margin: 0 5px;
            text-decoration: none;
            color: #333;
            background-color: #f4f4f4;
            border-radius: 3px;
        }

            .pagination a:hover {
                background-color: #ddd;
            }

        .pagination .current-page {
            padding: 8px 12px;
            margin: 0 5px;
            color: #fff;
            background-color: #333;
            border-radius: 3px;
        }

        
    .hide-after-5s {
        animation: hide 7s forwards;
        text-align: center;
    }

    @@keyframes hide {

        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            display: none;
        }
    }


    th {
        font-family: Arial,Verdana,sans-serif;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        background-color: aliceblue;
        display: block;
        
        white-space: nowrap;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #a09494;
    }


    tr:hover {
        background-color: #dde4eb;
        
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }

    .container .card {
        height: fit-content;
        width:fit-content;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px;
        transition: 0.2s;
        float: left;
        margin-left: 10px;

    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }


    .card .card-content {
        padding: 10px;
        background-color: cornsilk;

    }

    .card .card-title {
        font-size: 20px;
        margin: 0;
        text-align: center;
    }
    


    .button {
        display: inline-block;
        padding: 9px 2px;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        background-color: #a09494;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .button:hover {
            background-color: #8b8181;
        }

        .button:active {
            background-color: #8b8181;
            
        }

    

    .btn1 {
        margin-right: 0px;
    }

    .btn2 {
        margin-left: 10px;
    }

    .button-container{
        display: inline-flex;
    }

    .create {
        font-size: larger;
        margin-right: 0px;
        float: right;
        
        
    }
    .create:active{
        color:cornflowerblue;
    }

    .buttons {
        display: inline-flex;
       margin-left: 10px;
       
    }

    /* Media Query for responsive layout */
@@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .card {
    margin-bottom: 20px;
  }
}

    @@media screen and (max-width: 600px) {
        table thead {
            display: none;
        }
        /* Display table rows as blocks for better readability */
        table tbody, table tr, table td {
            display: block;
            width: 100%;
        }
        /* Add bottom border to table rows */
        table tr {
            border-bottom: 1px solid #dddddd;
        }
        /* Add padding to table cells */
        table td {
            padding: 10px;
        }
    }
</style>

<div class="container">
    
<div class="card">
    <div class="card-content">
        <h2 class="card-title">

            Index Page

        </h2>

           
        <div>
            <div class="create">
                @Html.ActionLink("Create New", "Create")


            </div>
            <div class="buttons">
                @using (Html.BeginForm("ExportToExcel", "EmployeeView", FormMethod.Post))
                {
                    <input type="hidden" name="CurrentPage" value="@ViewBag.CurrentPage" />

                    <input type="submit" value="Export Current Page" class="button btn1" />
                }

                @using (Html.BeginForm("ExportToExcel", "EmployeeView", FormMethod.Post))
                {
                    <input type="hidden" name="CurrentPage" value="0" />
                    <input type="submit" value="Export All" class=" button btn2" />
                }

            </div>

        </div>
        <div class="form-horizontal ">
            

            @using (Html.BeginForm("Index", "EmployeeView", FormMethod.Get))
            {
                    @if (employeeData.Count() > 0)
                {
                    <table class="table ">

                        <tr class="danger">
                            <th>
                                    First Name
                                
                            </th>

                            <th>
                                    Last Name
                            </th>

                            <th>
                                    Email
                            </th>
                            <th>
                                    Gender
                            </th>
                            <th>
                                    Marital Status
                            </th>
                                <th>
                                    Birthdate
                                </th>

                                <th>
                                    Salary

                                </th>

                                <th>
                                    Address

                                </th>

                                <th>
                                    City Code

                                </th>
                                <th>
                                    State Code
                                </th>
                                <th>
                                    Country Code
                                </th>

                            <th></th>

                        </tr>


                            @foreach (var item in employeeData)
                        {

                            <tr>

                                <td>

                                    @Html.DisplayFor(modelItem => item.Firstname)

                                </td>

                                <td>

                                    @Html.DisplayFor(modelItem => item.Lastname)


                                </td>

                                <td>

                                    @Html.DisplayFor(modelItem => item.Email)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.MaritalStatus)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Birthdate)

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Salary)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CityCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StateCode)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CountryCode)
                                </td>


                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { EmployeeID=item.EmpID }) |

                                    @Html.ActionLink("Details", "Details", new { EmployeeID=item.EmpID }) |

                                    @Html.ActionLink("Delete", "Confirm", new { EmployeeID=item.EmpID })

                                </td>

                            </tr>

                        }


                    </table>

                   


                }
                else
                {
                    <p>No Orders yet.</p>
                }
             
            }<!-- Generate pagination links -->
            <div class="pagination">
                @if (currentPage > 1)
                {
                    @Html.ActionLink("First", "Index", new { page = 1 })
                    @Html.ActionLink("Previous", "Index", new { page = currentPage - 1 })
                }

                @for (int i = 1; i <= totalPages; i++)
                {
                    if (i == currentPage)
                    {
                        <span class="current-page">@currentPage</span>
                    }
                    else
                    {
                        @Html.ActionLink(i.ToString(), "Index", new { page = i })
                    }
                }

                @if (currentPage < totalPages)
                {
                    @Html.ActionLink("Next", "Index", new { page = currentPage + 1 })
                    @Html.ActionLink("Last", "Index", new { page = totalPages })
                }
            </div>

            
           
            
            

            @{
                if (ViewBag.Message != null)
                {
                    <div class="hide-after-5s">
                        <h3>
                            @ViewBag.Message
                        </h3>

                    </div>
                }
            }

            @if (ViewBag.ValidationMessage != null)
            {
                <div class="alert alert-danger">@ViewBag.ValidationMessage</div>
            }

        </div>
        

    </div>
</div>

</div>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            setTimeout(function () { $("h1").css('display', 'none'); }, 15000);
        });

    </script>

    
    
}
